<h1>{{ "forgotyourpassword.confirm_reset.title"|t|raw }}</h1>
<div class="alert alert-success">{{ "forgotyourpassword.confirm_reset.body"|t|raw }}</div>
<a href="{{ continueUrl }}" class="btn btn-primary btn-block">{{ "forgotyourpassword.confirm_reset.link"|t|raw }}</a>